

<div id ='user_info_container'>
   
    <div>
        <h1><%= current_user.fname %> <%= current_user.lname %></h1>
        <p><%= current_user.location%></p>
        <p><%= current_user.email%></p>
        <p><%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-light" %></p>
   
    </div>
    
</div>




<div id ='events_contacts_container'>
<div>
    <a href ="/affairs"> <img src ="/assets/cal_small.png"><p>View Events</a></p>
    <a href ='/affairs/new'><img src="assets/add.png"></a>
</div>

   <div>
   <a href ="/contacts"> <img src ="/assets/contacts_small.png"><p>View Contacts</a> </p>
   <a href ='/contacts/new'><img src="assets/add.png"></a>
   </div>
   
</div>

    



