
<div id ='user_info_container'>
   
    <div>
        <h1><%= current_user.fname %> <%= current_user.lname %></h1>
        <p><%= current_user.location%></p>
        <p><%= current_user.email%></p>
        <p><%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-light" %></p>
   
    </div>
    
</div>

<div id ='events_contacts_container'>
    <img src ="/assets/contacts_small.png">
    <img src ="/assets/calendar_small.png">
</div>

    


<div id ='button-container'>
   <div> <a href ="/affairs/new"> <button type="button" class="btn btn-light">Quick Add</a></button></div>

   <div> <a href ="/contacts/new"> <button type="button" class="btn btn-light">Quick Add</a></button></div>
</div>
