
<div id ='user_info_container'>

    <div>
    <% if current_user.avatar %>
        <%= image_tag current_user.avatar %>    
    <% else %>
        <%= image_tag "/assets/default_avatar.jpg" %>
    <% end %>

    </div>
    <div>
        <p><%= current_user.fname %> <%= current_user.lname %></p>
        <p><%= current_user.location%></p>
        <p><%= current_user.email%></p>
        <p><%= link_to "Edit Profile", edit_user_registration_path %></p>
   
    </div>
    
</div>

<div id ='events_contacts_container'>
  <div id ='events-box'><%= link_to "Events",  affairs_path %></div>   
<div id ='contacts-box'><%= link_to "Contacts",  contacts_path %></div>  
  
</div>

    


<div id ='button-container'>
   <div> <a href ="/affairs/new"> <button type="button" class="btn btn-info">Quick Add</a></button></div>

   <div> <a href ="/contacts/new"> <button type="button" class="btn btn-secondary">Quick Add</a></button></div>
</div>
