<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table id ="table_id" class ="display mini-table" data-turbolinks="false">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Location</th>
      <th scope="col">Website</th>
      <th scope="col">Date</th>
      <th scope="col">Description</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @affairs.each do |affair| %>
      <tr>
        <td><%= affair.name %></td>
        <td><%= affair.location %></td>
        <td><%= affair.website %></td>
        <td><%= affair.date %></td>
        <td><%= affair.description %></td>
        <td><%= link_to 'Show', affair %></td>
        <td><%= link_to 'Edit', edit_affair_path(affair) %></td>
        <td><%= link_to 'Destroy', affair, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_affair_path , class: "btn btn-outline-primary" %>
