<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @affair.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @affair.location %>
</p>

<p>
  <strong>Website:</strong>
  <a href ='<%= @affair.website %>'> <%=@affair.website%> </a>
</p>

<p>
  <strong>Date:</strong>
  <%= @affair.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @affair.description %>
</p>



<%= link_to 'Edit', edit_affair_path(@affair) %> |
<%= link_to 'Back', affairs_path %>


<br>
<br>
Contacts Made :
<% @contacts.each do |contact| %>

<a href = "/contacts/<%=contact.contact_id%>"> <%= contact.contact.fname%> <%= contact.contact.lname%> </a>

<% end %>