<p id="notice"><%= notice %></p>


<div class="card">
  <div class="card-header">
   <h1>  <%= @affair.name %> </h1>
  </div>
  <div class="card-body">
    <h5 class="card-title"> <strong>Date:</strong> <%= @affair.date.strftime("%B %d, %Y") %> |   <strong>Location:</strong><%= @affair.location %>
 </h5>
  <p class="card-text"><strong>Website:</strong><a href ='<%= @affair.website %>'> <%=@affair.website%> </a></p>
  <p class="card-text"><strong>Description:</strong><%= @affair.description %></p>

  </div>
</div>











<%= link_to 'Edit', edit_affair_path(@affair) %> |
<%= link_to 'Back', affairs_path %>


<br>
<br>

<div class="card">
  <div class="card-header">
    <h1>Contacts Made </h1>
  </div>
    <% @contacts.each do |contact| %>
    <p class="card-text"><a href = "/contacts/<%=contact.contact_id%>"> <%= contact.contact.fname%> <%= contact.contact.lname%> </a></p>
   <% end %>
  </div>
 
</div>
