<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'First Name' %>
    <%= form.text_field :fname %>
  </div>

  <div class="field">
    <%= form.label 'Last Name' %>
    <%= form.text_field :lname %>
  </div>

  <div class="field">
    <%= form.label 'Email' %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label 'Title' %>
    <%= form.text_field :title %>
  </div>
  
  <div class="field">
    <%= form.label 'Professional Designation' %>
    <%= form.text_field :pro_designation , placeholder: 'i.e. MBA,PMP,Esq' %>
  </div>

<div class="field">
    <%= form.label 'Company' %>
    <%= form.text_field :company %>
  </div>

  <div class="field">
    <%= form.label 'Location' %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label 'Phone Number' %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label 'Website' %>
    <%= form.text_field :website %>
  </div>

  <div class="field">
    <%= form.label 'LinkedIn' %>
    <%= form.text_field :linked_in %>
  </div>

  <div class="field">
    <%= form.label 'Facebook' %>
    <%= form.text_field :facebook %>
  </div>

  <div class="field">
    <%= form.label :twitter %>
    <%= form.text_field :twitter %>
  </div>

  <div class="field">
    <%= form.label 'Other Social' %>
    <%= form.text_field :other_social %>
  </div>


  <div class="field">
    <%= form.label 'Notes' %>
    <%= form.text_area :notes %>
  </div>

  <div class="field">
    <%= form.label "Picture" %>
    <%= form.text_field :avatar %>
  </div>

 <div class="form-group">
        <% form.label 'Event' %> 
          
    </div>
<%# update this to have a dropdown of events to choose from that current_user created%>

  <div class="field">
  
    <%= form.hidden_field :user_id , value: current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-outline-primary"%>
  </div>
<% end %>
