<p id="notice"><%= notice %></p>


<div class="card">
  <div class="card-header">
<h1><%= @contact.fname %> <%= @contact.lname %></h1>
  </div>
  <div class="card-body">
    <h5 class="card-title">
      <a href="mailto:<%= @contact.email %>"><%= @contact.email %></a> | <a href="tel:<%= @contact.phone %> "><%= @contact.phone %></a>
    </h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
 
  </div>
</div>











<p>
  <strong>Title:</strong>
  <%= @contact.title %>
</p>

<p>
  <strong>Profesional Designation:</strong>
  <%= @contact.pro_designation %>
</p>

<p>
  <strong>Company:</strong>
  <%= @contact.company %>
</p>

<p>
  <strong>Location:</strong>
  <%= @contact.location %>
</p>


<p>
  <strong>Website:</strong>
  <%= @contact.website %>
</p>

<p>
  <strong>Linked in:</strong>
  <%= @contact.linked_in %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @contact.facebook %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @contact.twitter %>
</p>

<p>
  <strong>Other Social:</strong>
  <%= @contact.other_social %>
</p>


<p>
  <strong>Notes:</strong>
  <%= @contact.notes %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @contact.avatar %>
</p>

<p>
  <strong>Created by:</strong>
  <%= current_user.fname %> <%= current_user.lname %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
