<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @contact.fname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @contact.lname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Title:</strong>
  <%= @contact.title %>
</p>

<p>
  <strong>Profesional Designation:</strong>
  <%= @contact.pro_designation %>
</p>

<p>
  <strong>Company:</strong>
  <%= @contact.company %>
</p>

<p>
  <strong>Location:</strong>
  <%= @contact.location %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @contact.website %>
</p>

<p>
  <strong>Linked in:</strong>
  <%= @contact.linked_in %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @contact.facebook %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @contact.twitter %>
</p>

<p>
  <strong>Other Social:</strong>
  <%= @contact.other_social %>
</p>


<p>
  <strong>Notes:</strong>
  <%= @contact.notes %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @contact.avatar %>
</p>

<p>
  <strong>Created by:</strong>
  <%= current_user.fname %> <%= current_user.lname %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
