<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @contact.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @contact.lname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Title:</strong>
  <%= @contact.title %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @contact.website %>
</p>

<p>
  <strong>Linked in:</strong>
  <%= @contact.linked_in %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @contact.facebook %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @contact.twitter %>
</p>

<p>
  <strong>Other social:</strong>
  <%= @contact.other_social %>
</p>

<p>
  <strong>Highlights:</strong>
  <%= @contact.highlights %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @contact.notes %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @contact.avatar %>
</p>

<p>
  <strong>User:</strong>
  <%= @contact.user_id %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
